*{
    margin:auto;
    padding:auto;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
body{
    background:linear-gradient(rgba(16,16,18,0.5), rgba(16,16,18,0.5)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* #main-container{
    width: 400px;
    height: 200px;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    border-radius: 12px;
} */
.glass{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:1px solid rgba(255, 255, 255, 0.1);
    width:400px;
    height: 200px;
    margin-top: 10%;


}
.password-container{

    display: block;
    width:400px;
    height:200px;
    border-radius: 12px;
}
.glass input{
    display: block;
    margin:auto;
    border: 1px solid #689689;
    border-radius: 8px;
    padding:8px 14px;
    margin-top:7%;
    text-decoration: none;
    
}
.glass button{
    display:block;
    background-color: #2d302d;
    color:#ccc;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top:5%;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    
}
#font{
    color:#fff;
    width:50px;
    height:50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4%;
}